<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form action="/login" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit">
</form>
<a style="text-decoration: none; color: black;" href="/register"><h1 style="text-decoration: none; color: black;">I'm not registered</h1></a>
</body>
</html>