<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="register" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="register me!">
    <h2>{{errors}}</h2>
</form>
</body>
</html>